*{
	margin:0;
	padding:0;
}

body{
	background:#DDEEEE;
}

#login{
	border:thin black solid;
	border-radius:20px;
	width:60%;
	margin:0 auto;
	margin-top:50px;
	padding:30px;
	background:white;
}
